.main {
  //border: solid red;
  @include breakpoint-up(medium) {
    display: flex;
  }

  &__dashlogo {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 20px auto;

    img {
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }
    p {
    }
  }
  .main__accountwrapper {
    margin: 10px;
  }
  aside {
    margin: 10px;
    background-color: white;
    @include breakpoint-up(medium) {
      flex: 0 0 calc(25% - 20px);
    }
  }
  .main__account {
    @include breakpoint-up(medium) {
      flex: 1 0 calc(75% - 20px);
    }
  }
  .main__chart {
    background-color: white;
    height: 300px;
    margin: 10px 10px 10px 0px;
  }
  .main__accountcontainer {
    @include breakpoint-up(large) {
      display: flex;
    }
    h3 {
      text-align: center;
      margin-top: 20px;
    }

    .main__latestaccount {
      margin: 0px 10px 10px 0px;
      padding: 10px;
      background-color: white;
      @include breakpoint-up(large) {
        flex: 1;
      }
    }
    .main__acountusers {
      margin: 0px 10px 10px 0px;
      padding: 10px;
      background-color: white;
      @include breakpoint-up(large) {
        flex: 1;
      }
    }
    .main__user__account {
      padding: 4px 10px;
      line-height: 30px;
      margin-bottom: 3px;

      font-size: 16px;
      line-height: 30px;

      color: #999999;

      border-radius: 4px;
      &__bg {
        background: #f3efef;
        border: 1px solid #d7d2d2;
      }
    }
  }
}
